body{
    margin: 0;
    height: 1680px;
    font-family: 'Roboto', sans-serif;
}

.banner{
    background-image: url(img/background.png);
    background-size: cover;
    max-width: 100%;
    color: white;
    height: 505px;
    border-top: 9px solid #2dcc70;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner > div > p{
    font-size: 20px;
    margin-top: 6.3%;
    margin-bottom: 3.1%;
    line-height: 1.52;
    letter-spacing: 0.55px;
}

.banner > div:nth-child(1){
    margin: 80px 40px;
    width: 400px;
}


.banner > div:nth-child(2) > img{
    margin: 0;
    display: none;
}

.details{
    margin: 50px auto 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.details > div{
    margin: 0px 26px;
    width: 312px;
    text-align: center;
}

.details > div > p{
    font-size: 14px;
    color: #919191;
    line-height: 1.5;
}

.email > button{
    margin-top: 5px;
    margin-left: -5px;
    padding: 0;
    height: 44px;
    width: 117px;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #2dcc70;
}
.email > button:focus {
    outline:0;
}
.email > input{
    margin-top: 5px;
    height: 42px;
    width: 260px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.email > input:focus {
    outline:0;
}

.final{
    background-color: #e3e3e3;
}

.final a {
    text-decoration: none;
    color: #919191;
    padding: 5px;
}
.final ul{
    margin: auto auto;
    padding: 46px;
    max-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}


h1{
    margin-top: 11%;
    margin-bottom: 0;
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}

h1 span{
    color: #2dcc70;
}

h3{
    letter-spacing: 0.55px;
}


.icon{
    margin-top: 5px;
    margin-right: 13px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    background-color: #2dcc70;
}

.icon > img{
    max-width: 50%;
}

.iconMedium{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #E3E3E3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconMedium > img{
    max-width: 75%;
    filter: brightness(200%);
}
.iconMedium:hover{
    background-color: #2dcc70;
}

.iconBig{
    margin: 0 auto;
    width: 85px;
    height: 85px;
    border-radius: 50px;
    background-color: #2dcc70;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBig > img{
    max-width: 50%;
}


iframe{
    display:block;
    width:100%;
    border-radius: 10px;
}

.newsletter{
    background-color: #E3E3E3;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.newsletter > div{
    padding: 27px 47px;
    width: 450px;
    min-width: 380px;
    display: block;
}

.newsletter > div:nth-child(2){
    padding-top: 50px;
    padding-bottom: 52px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.newsletter h3{
    margin-bottom: 15px;
}

.newsletter p{
    font-size: 14px;
    color: #919191;
    line-height: 1.6;
}

.photos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px auto 45px;
    min-width: 328px;
}

.photos > div{
    margin: 2px;
    height: 42px;
    background-color: #2dcc70;
}

.photos img{
    margin: 0;
    padding: 0;
    width: 42px;
}

.photos img:hover{
    filter: opacity(50%);

}

.testimony{
    text-align: center;
}

.testimony > .alinhar-horizontal{
    margin: auto auto;
    margin-bottom: 52px;
    max-width: 17%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimony p{
    font-size: 16px;
    color: #919191;
    line-height: 1.6;
}

.testimony p:nth-child(1){
    margin: 42px auto 0;
    font-style: italic;
    width: 55%;
}
.testimony p:nth-child(2){ 
    margin: 13px auto;
    color: black;
    font-weight: bold;
}

.testimony .font-mini{
    font-size: 14px;
}

.testimony h3{
    margin-bottom: 0;
}

.alinhar-horizontal{
    display: flex;
    flex-wrap: wrap;
}

@media(min-width: 768px){

    .banner > div:nth-child(1){
        padding-left: 4.2%;
    }
    .banner > div:nth-child(2){
        margin: 80px 40px;
    }

    .banner > div:nth-child(2) > img{
        width: 373px;
        display: flex;
        align-items: flex-end;
    }

}